.game_page {
  &__container {
    height: 100vh;
    background-size: contain;
    background-image: url('../img/rolebackground.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  &__gameProcess {
    text-align: center;
    position: absolute;
    color: $white;
    left: 50%;
    top: 34%;
    height: 200px;
    width: 209px;
    overflow: hidden;
    transform: translate(-50%,0);
  }

  &__role {
    color:$black;
    text-align: center;
    position: absolute;
    top: 18%;
    left: 50%;
    width: 100%;
    font-size: 33px;
    transform: translate(-50%,0);
  }

  &-ready__button {
    font-size: 20px;
    @include button;
    display: block;
    margin: auto;
  }

  &__avatar {
    z-index: -1;
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%,0);

    &-witch {
      background-image: url('../img/witch.jpg');
    }
    &-prophet {
      background-image: url('../img/prophet.jpg');
    }
    &-werewolf {
      background-image: url('../img/werewolf.jpg');
    }
    &-random {
      background-image: url('../img/random.jpg');
    }
    &-villager {
      background-image: url('../img/villager.jpg');
    }
    &-hunter {
      background-image: url('../img/hunter.jpg');
    }
  }
}
