.welcome {
  &__title {
    font-size: 36px;
    text-align: center;
  }

  &__button {
    display: block;
    width: 80%;
    height: 40px;
    font-size: 20px;
    @include button;
  }
}

body {
  background-color: $black;
}
