.werewolf-app-container {
  max-width: 500px;
  height: 100vh;
  margin: auto;
  color: #FFF;
  background-size: cover;
}

.black-bg {
  background-color: $black;
}

.dark-blue-bg {
  background-color: $dark-blue;
  .werewolf-app-container {
    background-image: url('../img/background.jpg');
  }
}
